.root {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ui-spacing-xl);
  margin-bottom: var(--ui-spacing-xl);
  container-type: inline-size;
}

.asset {
  flex: 1;
  min-width: 300px;
  max-width: calc(50% - var(--ui-spacing-xl) / 2);

  @container (max-width: 600px) {
    flex: 1;
    min-width: none;
    max-width: 100%;
    width: 100%;
  }
}
