.root {
  display: block;
  width: fit-content;

  [data-ui-color-scheme='light'] & {
    --heatmap-level-1: rgba(81, 207, 102, 0.3);
    --heatmap-level-2: rgba(64, 192, 87, 0.45);
    --heatmap-level-3: rgba(55, 178, 77, 0.75);
    --heatmap-level-4: rgba(43, 138, 62, 1);
    --heatmap-empty-rect-bg: var(--ui-color-gray-2);
  }

  [data-ui-color-scheme='dark'] & {
    --heatmap-level-1: rgba(43, 138, 62, 0.3);
    --heatmap-level-2: rgba(47, 158, 68, 0.45);
    --heatmap-level-3: rgba(55, 178, 77, 0.75);
    --heatmap-level-4: rgba(81, 207, 102, 1);
    --heatmap-empty-rect-bg: var(--ui-color-dark-5);
  }
}

.rect {
  stroke-width: 1px;

  &:where([data-empty]) {
    fill: var(--heatmap-empty-rect-bg);
  }
}

.monthLabel,
.weekdayLabel,
.legendLabel {
  cursor: default;
  user-select: none;
  fill: var(--ui-color-dimmed);
}

.legendRect {
  &:where([data-empty]) {
    fill: var(--heatmap-empty-rect-bg);
  }
}
