.fallback {
  width: 100%;
}

.fallback > * {
  width: 100% !important;
  border-radius: var(--ui-radius-lg);
}

.placeholder {
  color: var(--ui-color-dimmed);
  font-size: var(--ui-font-size-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
