.root {
    margin: 0;
    font-weight: var(--title-fw, var(--mantine-h1-font-weight));
    line-height: var(--title-lh, var(--mantine-h1-line-height));
    font-size: var(--title-fz, var(--mantine-h1-font-size));
    text-wrap: var(--title-text-wrap, var(--mantine-text-wrap));

    &:where([data-line-clamp]) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: var(--title-line-clamp);
        -webkit-box-orient: vertical;
    }
}
