.root {
  [data-ui-color-scheme='light'] & {
    --average-bar-color: var(--ui-color-dark-8);
    --you-bar-color: var(--ui-color-blue-3);
  }

  [data-ui-color-scheme='dark'] & {
    --you-bar-color: var(--ui-color-blue-8);
    --average-bar-color: var(--ui-color-gray-4);
  }
}

.bar {
  transform: translateX(-1.5px);
}
