.responsiveContainer {
  max-width: 300px;
}
@media (min-width: em(400px)) {
  .responsiveContainer {
    max-width: 400px;
}
  }
@media (min-width: em(600px)) {
  .responsiveContainer {
    max-width: 600px;
}
  }
