.root {
  border: 1px solid var(--demo-border);
  border-radius: var(--ui-radius-lg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  overflow: hidden;

  [data-ui-color-scheme='light'] & {
    --demo-border: var(--ui-color-gray-2);
  }

  [data-ui-color-scheme='dark'] & {
    --demo-border: var(--ui-color-dark-4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}
