.root {
  padding-top: var(--ui-spacing-xl);
}

.minorVersion {
  & + & {
    margin-top: var(--ui-spacing-xl);
    padding-top: var(--ui-spacing-xl);
    border-top: 1px solid light-dark(var(--ui-color-gray-2), var(--ui-color-dark-4));
  }
}

.minorVersionBadgeWrapper {
  width: 86px;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.minorVersionBadge {
  height: 30px;
  line-height: 28px;
  overflow: hidden;
  font-size: var(--ui-font-size-md);
  font-weight: 700;
  padding-left: var(--ui-spacing-sm);
  padding-right: var(--ui-spacing-sm);
  border-radius: var(--ui-radius-md);
  color: var(--ui-color-blue-text);
}

.minorVersionDate {
  font-size: 14px;
  margin-left: auto;
}

.patchLink {
  font-size: 15px;
  color: var(--ui-color-text);
  text-decoration: none;

  &:hover {
    .patchLinkLabel {
      text-decoration: underline;
    }
  }
}

.patchBadge {
  font-weight: 700;
  font-size: 13px;
  color: var(--ui-color-text);
}
