.root {
  min-width: 200px;
  max-width: 100%;
  min-height: 120px;
  container-type: inline-size;
  overflow: auto;
  resize: horizontal;
}

.child {
  background-color: var(--ui-color-dimmed);
  color: var(--ui-color-white);
  padding: var(--ui-spacing-md);
}

@container (max-width: 500px) {

.child {
    background-color: var(--ui-color-blue-filled);
}
  }

@container (max-width: 300px) {

.child {
    background-color: var(--ui-color-red-filled);
}
  }
