.root {
  position: relative;
  margin-top: 5px;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-radius: 0;
  padding-left: 0;
  background-color: var(--ui-color-body);
}

.label {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 7px;
  color: var(--ui-color-placeholder);
  font-weight: 400;
  font-size: var(--ui-font-size-sm);
  transition:
    color 100ms ease,
    transform 100ms ease,
    font-size 100ms ease;
}

.label[data-floating] {
    transform: translateY(-20px);
    font-size: var(--ui-font-size-xs);
    color: var(--ui-color-text);
  }
