.root {
  [data-ui-color-scheme='light'] & {
    --chart-grid-color: rgba(173, 181, 189, 0.6);
    --chart-text-color: var(--ui-color-gray-7);
  }

  [data-ui-color-scheme='dark'] & {
    --chart-grid-color: rgba(105, 105, 105, 0.6);
    --chart-text-color: var(--ui-color-dark-1);
  }

  & :where(text) {
    font-size: var(--ui-font-size-xs);
    fill: var(--chart-text-color, var(--ui-color-dimmed));
    user-select: none;
  }

  :where(svg) {
    outline: 0;
  }
}

.container {
  height: 100%;
  width: 100%;
}
