body {
  --docs-font-primary: 'Outfit', sans-serif;
  --docs-font-size: 15px;
  --docs-inline-spacing: 50px;
  --docs-header-height: 56px;
  --docs-navbar-width: 220px;
  --docs-table-of-contents-width: 250px;
  --docs-main-header-section-height: 56px;

  @media (max-width: 67.5em) {
    --docs-header-height: 56px;
    --docs-navbar-width: 0px;
    --docs-font-size: 16px;
    --docs-inline-spacing: 0px;
  }

  @media (max-width: 78em) {
    --docs-table-of-contents-width: 0px;
  }
}
