node_modules
.DS_Store
**/build
**/dist
**/es

# dumi
**/.dumi
**/tmp
**/docs-dist

# next.js / nextra
**/.next
**/out

.cspellcache
**/.turbo
**/*.timestamp-*.mjs

pnpm-lock.yaml
yarn.lock

node_modules/
