.root {
  margin-top: calc(var(--ui-spacing-xl) * 1.5);
  margin-bottom: var(--ui-spacing-lg);

  & > p {
    line-height: 1.65;
    font-size: 15px;
  }

  /* Considered to be a heading of the info */
  & > p > strong:only-child {
    font-family: var(--docs-font-primary);
    font-size: var(--ui-font-size-lg);
    color: var(--ui-color-bright);

    & > code {
      font-size: 80%;
    }
  }

  & > p:first-of-type {
    margin-top: 0;
  }

  & > p:last-of-type {
    margin-bottom: 0;
  }

  & :global(.ui-Code-root) {
    background-color: light-dark(var(--docs-bq-code-bg-light), var(--docs-bq-code-bg-dark));
  }

  & :global(.ui-CodeHighlight-root) {
    margin-top: var(--ui-spacing-md);
    background-color: var(--ui-color-body);
  }
}

.icon {
  width: 28px;
  height: 28px;
}
