.root {
  padding: var(--ui-spacing-lg);
  background: var(--ui-color-body);
  border: 1px solid var(--ui-color-gray-3);
  border-radius: var(--ui-radius-lg);
}

.cardTitle {
  margin-bottom: var(--ui-spacing-xs) !important;
}
