.root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumb {
    line-height: 1;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.separator {
    margin-inline: var(--bc-separator-margin, var(--ui-spacing-xs));
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ui-color-gray-7);
}
