.timeWrapper {
  display: flex;
  align-items: stretch;
  margin-top: var(--ui-spacing-md);
}

.timeInput {
  flex: 1;
  margin-inline-end: var(--ui-spacing-md);
}

.rangeInfo {
  margin-top: var(--ui-spacing-md);
  font-size: calc(var(--ui-font-size-sm) - 2px);
  color: var(--ui-color-text);
  line-height: 1.4;
  height: calc((var(--ui-font-size-sm) - 2px) * 1.4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rangeTimeWrapper {
  display: flex;
  align-items: stretch;
  gap: var(--ui-spacing-md);
  margin-top: var(--ui-spacing-md);
}

.rangeTimeInput {
  flex: 1;
}
