.root {
  min-height: var(--chart-height, auto);

  & :where(*) {
    outline: 0;
  }

  [data-ui-color-scheme='light'] & {
    --chart-link-color: var(--ui-color-gray-1);
  }

  [data-ui-color-scheme='dark'] & {
    --chart-link-color: var(--ui-color-dark-5);
  }
}
