.wrapper {
  position: sticky;
  top: var(--docs-header-height);
  padding-top: var(--ui-spacing-xl);
  flex: 0 0 var(--docs-table-of-contents-width);

  @media (max-width: 78em) {
    display: none;
  }

  &[data-with-tabs] {
    padding-top: 0;
    top: calc(var(--docs-header-height) + var(--ui-spacing-md));
  }
}

.inner {
  padding-bottom: var(--ui-spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  display: block;
  border-left: 1px solid transparent;
  padding: 6px var(--ui-spacing-md);
  margin-left: -1px;
  padding-left: calc(var(--toc-link-offset) * var(--ui-spacing-lg));
  font-size: 13px;
  font-weight: 600;
  color: light-dark(var(--ui-color-gray-7), var(--ui-color-dark-1));
  border-top-right-radius: var(--ui-radius-sm);
  border-bottom-right-radius: var(--ui-radius-sm);

  &[data-active] {
    border-color: var(--ui-color-blue-5);
    color: light-dark(var(--ui-color-blue-8), var(--ui-color-blue-2));
    background-color: light-dark(
      var(--ui-color-blue-0),
      color-mix(in srgb, var(--ui-color-blue-6) 17%, transparent)
    );
  }
}

.title {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: var(--ui-spacing-md);
  color: light-dark(var(--ui-color-gray-6), var(--ui-color-dark-2));
  font-family: var(--ui-font-family-monospace, 'Menlo, Monaco, monospace');
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.items {
  border-inline-start: 1px solid
    light-dark(var(--ui-color-gray-3), var(--ui-color-dark-5));
}

.editPage {
  color: var(--ui-color-bright);
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: var(--ui-font-size-sm);
  margin-top: var(--ui-spacing-md);
  padding-top: var(--ui-spacing-md);
  border-top: 1px solid light-dark(var(--ui-color-gray-1), var(--ui-color-dark-6));

  &:hover {
    text-decoration: underline;
  }
}

.editPageIcon {
  color: var(--ui-color-dimmed);
}
