.moreEventsButton {
  color: var(--ui-color-dimmed);
  font-size: 13px;
  pointer-events: all;
  flex: 1;

  &:hover {
    color: var(--ui-color-bright);
    text-decoration: underline;
  }

  &:where([data-static]) {
    cursor: default;

    &:hover {
      color: var(--ui-color-dimmed);
      text-decoration: none;
    }
  }
}

.moreEventsDropdown {
  padding: 4px;
}

.moreEventsList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
