.col {
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
}

.articleWrapper {
  padding-inline: 48px 236px;
  padding-block: 0 32px;
}

.articleWrapper.rtl {
  direction: rtl;
}

@media only screen and (max-width: 992px) {
  .articleWrapper {
    padding: 0 calc(var(--ui-spacing-lg) * 2);
  }
}
