.root {
  background-color: var(--notification-color, var(--ui-primary-color-filled));

  &::before {
    background-color: var(--ui-color-white);
  }
}

.description,
.title {
  color: var(--ui-color-white);
}

.closeButton {
  color: var(--ui-color-white);

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
