.root {
  display: block;
  width: 100%;

  --chart-bar-label-color: var(--ui-color-dimmed);
}

.root svg {
  overflow: visible;
  outline: 0;
}

[data-ui-color-scheme='light'] .root {
  --chart-grid-color: rgba(173, 181, 189, 0.6);
  --chart-cursor-fill: rgba(173, 181, 189, 0.15);
}

[data-ui-color-scheme='dark'] .root {
  --chart-cursor-fill: rgba(105, 105, 105, 0.15);
  --chart-grid-color: rgba(105, 105, 105, 0.6);
}

.root :where(text) {
  font-family: var(--ui-font-family);
  color: var(--chart-text-color, var(--ui-color-dimmed));
}

.container {
  height: 100%;
  width: 100%;
}

.grid {
  stroke: var(--chart-grid-color);
}

.axis {
  color: var(--chart-grid-color);
}

.axisLabel {
  color: var(--chart-text-color, var(--ui-color-dimmed));
}

.tooltip {
  min-width: 200px;
  background-color: var(--ui-color-body);
  box-shadow: var(--ui-shadow-md);
  border-radius: var(--ui-radius-default);
  padding: var(--ui-spacing-sm);
}

[data-ui-color-scheme='light'] .tooltip {
  border: 1px solid var(--ui-color-gray-3);
}

[data-ui-color-scheme='dark'] .tooltip {
  border: 1px solid var(--ui-color-dark-4);
}
