.root {
  display: flex;
  gap: 50px;

  @media (max-width: 59.375em) {
    flex-direction: column;
  }
}

.colorPicker {
  @media (max-width: 59.375em) {
    width: 100%;
  }
}

.saturation {
  & :global(.ui-ColorPicker-saturationOverlay) {
    border-radius: var(--ui-radius-md);
  }
}

.input {
  max-width: 280px;
  margin-bottom: var(--ui-spacing-sm);

  @media (max-width: 59.375em) {
    width: 100%;
    max-width: 100%;
  }
}

.switch {
  @media (max-width: 37.5em) {
    display: none;
  }
}
