.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    height: 100%;
    color: var(--ui-color-dimmed);
}

.chevron {
    width: 16px;
    height: 16px;
    transition: transform 200ms ease;
}

.chevron[data-opened] {
    transform: rotate(180deg);
}

.check {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}
