.wrapper {
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--ui-color-body);
  width: 100%;
  flex: 1;

  @media (max-width: 1450px) {
    width: 100%;
    flex: 0 0 calc(100% - var(--docs-table-of-contents-width) - var(--docs-navbar-width));
  }

  @media (max-width: 550px) {
    max-width: 100%;
  }
}

.container {
  padding-inline: var(--docs-inline-spacing);
  padding-top: 0;
  padding-bottom: var(--ui-spacing-xl);
  max-width: 994px;

  @media (max-width: 1750px) {
    max-width: 914px;
  }

  @media (max-width: 1450px) {
    max-width: calc(100vw - var(--docs-table-of-contents-width) - var(--docs-navbar-width) - 48px);
  }

  @media (hover: none) and (max-width: 750px) {
    max-width: calc(100vw - var(--docs-table-of-contents-width) - var(--docs-navbar-width) - 28px);
  }

  @media (max-width: 78em) {
    padding-inline-end: 0;
  }

  @media (max-width: 67.5em) {
    padding-block: var(--ui-spacing-md);
  }
}

.tableOfContents {
  flex: 0 0 var(--docs-table-of-contents-width);
  position: sticky;
  top: var(--docs-header-height);
  align-self: flex-start;
  height: calc(100vh - var(--docs-header-height));
}
