.nextIcon {
  color: light-dark(var(--ui-color-black), var(--ui-color-white));
  width: var(--icon-size);
}

.viteIcon {
  color: light-dark(var(--ui-color-black), var(--ui-color-white));
  width: var(--icon-size);
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
