.root {
  &[data-scrollable] {
    --spotlight-content-height: 100%;
  }
}

.content {
  overflow: hidden;
  height: var(--spotlight-content-height, auto);
  max-height: var(--spotlight-max-height);
}

.body {
  display: flex;
  flex-direction: column;
  height: var(--spotlight-content-height, auto);
}

.search {
  border: 0;
  background-color: transparent;
}

.actionsList {
  /* Used in child ScrollArea */
  --spotlight-actions-list-padding: 4px;

  border-top: 1px solid;
  flex: 1;
  padding: var(--spotlight-actions-list-padding);
  max-height: calc(100vh - 15rem);
  margin-inline-end: calc(var(--spotlight-actions-list-padding) * -1);
  width: 100%;

  [data-ui-color-scheme='light'] & {
    border-color: var(--ui-color-gray-2);
  }

  [data-ui-color-scheme='dark'] & {
    border-color: var(--ui-color-dark-4);
  }
}

.action {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px var(--ui-spacing-md);
  border-radius: var(--ui-radius-default);
  background-color: transparent;
  color: inherit;
  text-align: start;

  &:where(:not([data-selected])) {
    &:hover {
      [data-ui-color-scheme='light'] & {
        background-color: var(--ui-color-gray-0);
      }

      [data-ui-color-scheme='dark'] & {
        background-color: var(--ui-color-dark-6);
      }
    }
  }

  &:where([data-selected]) {
    background-color: var(--ui-primary-color-filled);
    color: var(--ui-primary-color-contrast, var(--ui-color-white));
    --action-description-color: var(--ui-primary-color-contrast, var(--ui-color-white));
    --action-description-opacity: 0.7;
  }
}

.actionBody {
  flex: 1;
}

.actionSection {
  opacity: 1;
  color: inherit;

  &:where([data-dimmed]) {
    opacity: var(--action-description-opacity, 1);
    color: var(--action-description-color, var(--ui-color-dimmed));
  }

  &:where([data-position='left']) {
    margin-inline-end: var(--ui-spacing-md);
  }

  &:where([data-position='right']) {
    margin-inline-start: var(--ui-spacing-md);
  }

  & > svg {
    display: block;
  }
}

.actionLabel {
  display: block;
}

.actionDescription {
  display: block;
  font-size: var(--ui-font-size-xs);
  opacity: var(--action-description-opacity, 1);
  color: var(--action-description-color, var(--ui-color-dimmed));
}

.empty {
  color: var(--ui-color-dimmed);
  padding: var(--ui-spacing-md);
  text-align: center;
}

.footer {
  padding: var(--ui-spacing-xs) calc(var(--ui-spacing-md) + 4px);
  border-top: 1px solid;

  [data-ui-color-scheme='light'] & {
    border-color: var(--ui-color-gray-2);
  }

  [data-ui-color-scheme='dark'] & {
    border-color: var(--ui-color-dark-4);
  }
}

.actionsGroup {
  display: flex;
  flex-direction: column;
  margin-top: var(--ui-spacing-md);

  &::before {
    content: var(--spotlight-label);
    text-transform: uppercase;
    font-size: var(--ui-font-size-xs);
    font-weight: var(--ui-font-weight-bold);
    color: var(--ui-color-dimmed);
    padding-inline-start: var(--ui-spacing-md);
  }

  &:empty {
    display: none;
  }
}
