.root {
    --button-height-xs: 30px;
    --button-height-sm: 36px;
    --button-height-md: 42px;
    --button-height-lg: 50px;
    --button-height-xl: 60px;

    --button-height-compact-xs: 22px;
    --button-height-compact-sm: 26px;
    --button-height-compact-md: 30px;
    --button-height-compact-lg: 34px;
    --button-height-compact-xl: 40px;

    --button-padding-x-xs: 14px;
    --button-padding-x-sm: 18px;
    --button-padding-x-md: 22px;
    --button-padding-x-lg: 26px;
    --button-padding-x-xl: 32px;

    --button-padding-x-compact-xs: 7px;
    --button-padding-x-compact-sm: 8px;
    --button-padding-x-compact-md: 10px;
    --button-padding-x-compact-lg: 12px;
    --button-padding-x-compact-xl: 14px;

    --button-height: var(--button-height-sm);
    --button-padding-x: var(--button-padding-x-sm);
    --button-color: var(--ui-color-white);

    user-select: none;
    font-weight: var(--ui-font-weight-medium);
    position: relative;
    line-height: 1;
    text-align: center;
    overflow: hidden;

    width: auto;
    cursor: pointer;
    display: inline-block;
    border-radius: var(--button-radius, var(--ui-radius-default));
    font-size: var(--button-fz, var(--ui-font-size-sm));
    background: var(--button-bg, var(--ui-primary-color-filled));
    border: var(--button-bd, 1px solid transparent);
    color: var(--button-color, var(--ui-color-white));
    height: var(--button-height, var(--button-height-sm));
    padding-inline: var(--button-padding-x, var(--button-padding-x-sm));
    vertical-align: middle;

    &:where([data-block]) {
        display: block;
        width: 100%;
    }

    &:where([data-with-left-section]) {
        padding-inline-start: calc(var(--button-padding-x) / 1.5);
    }

    &:where([data-with-right-section]) {
        padding-inline-end: calc(var(--button-padding-x) / 1.5);
    }

    &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
        cursor: not-allowed;
        border: 1px solid transparent;
        transform: none;
        color: var(--ui-color-disabled-color);
        background: var(--ui-color-disabled);
    }

    &::before {
        content: '';
        pointer-events: none;
        position: absolute;
        inset: -1px;
        border-radius: var(--button-radius, var(--ui-radius-default));
        transform: translateY(-100%);
        opacity: 0;
        filter: blur(12px);
        transition:
            transform 150ms ease,
            opacity 100ms ease;
        background-color: rgba(255, 255, 255, 0.15);
    }

    &:where([data-loading]) {
        cursor: not-allowed;
        transform: none;

        &::before {
            transform: translateY(0);
            opacity: 1;
        }

        & .inner {
            opacity: 0;
            transform: translateY(100%);
        }
    }

    &:hover:where(:not([data-loading], :disabled, [data-disabled])) {
        background-color: var(--button-hover, var(--ui-primary-color-filled-hover));
        color: var(--button-hover-color, var(--button-color));
    }
}

.inner {
    display: flex;
    align-items: center;
    justify-content: var(--button-justify, center);
    height: 100%;
    overflow: visible;
    transition:
        transform 150ms ease,
        opacity 100ms ease;
}

.label {
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 1;

    &:where([data-loading]) {
        opacity: 0.2;
    }
}

.section {
    display: flex;
    align-items: center;

    &:where([data-position='left']) {
        margin-inline-end: var(--ui-spacing-xs);
    }

    &:where([data-position='right']) {
        margin-inline-start: var(--ui-spacing-xs);
    }
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.groupSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--ui-spacing-sm);
    font-size: var(--ui-font-size-sm);
    background: var(--button-group-section-bg, var(--ui-color-body));
    border: var(--button-border-width, 1px) solid var(--ui-color-default-border);
    color: var(--ui-color-text);
}

.group {
    display: flex;

    &:where([data-orientation='horizontal']) {
        flex-direction: row;

        & > *:not(:only-child):not(:first-child):not(:last-child) {
            border-radius: 0;
            margin-inline-start: calc(-1 * var(--button-border-width, 1px));
        }

        & > *:first-child:not(:only-child) {
            border-start-end-radius: 0;
            border-end-end-radius: 0;
            margin-inline-start: 0;
        }

        & > *:last-child:not(:only-child) {
            border-start-start-radius: 0;
            border-end-start-radius: 0;
            margin-inline-start: calc(-1 * var(--button-border-width, 1px));
        }
    }

    &:where([data-orientation='vertical']) {
        flex-direction: column;

        & > *:not(:only-child):not(:first-child):not(:last-child) {
            border-radius: 0;
            margin-block-start: calc(-1 * var(--button-border-width, 1px));
        }

        & > *:first-child:not(:only-child) {
            border-end-start-radius: 0;
            border-end-end-radius: 0;
            margin-block-start: 0;
        }

        & > *:last-child:not(:only-child) {
            border-start-start-radius: 0;
            border-start-end-radius: 0;
            margin-block-start: calc(-1 * var(--button-border-width, 1px));
        }
    }
}
