.col {
  height: 100%;
  background-color: light-dark(var(--ui-color-blue-0), var(--ui-color-dark-4));
  padding: var(--ui-spacing-md);
}

.label {
  color: light-dark(var(--ui-color-blue-6), var(--ui-color-dimmed));
  font-size: var(--ui-font-size-xl);
  font-weight: bold;
  text-align: center;
  height: 100%;
}
