.option {
  transition:
    transform 100ms ease,
    box-shadow 100ms ease;
}
.option[data-combobox-selected] {
    font-weight: 600;
    transform: scale(1.1);
    box-shadow: var(--ui-shadow-lg);
  }
