.root {
  font-family: var(--ui-font-family-monospace);
  font-size: 13px;
}

.leaf {
  padding-block: 3px;
  padding-inline-start: calc(var(--label-offset) + 4px);
  padding-inline-end: 4px;

  &[data-selected] {
    font-weight: 700;
    background-color: var(--ui-color-blue-light) !important;
    color: var(--ui-color-bright);
  }

  &:hover {
    background-color: light-dark(var(--ui-color-gray-0), var(--ui-color-dark-6));
    color: var(--ui-color-bright);
  }
}
