.title {
  margin-top: calc(var(--ui-spacing-xl) * 1.2);
  margin-bottom: var(--ui-spacing-md);
  overflow-wrap: break-word;
  font-family: var(--docs-font-primary);
  font-weight: 600;
  position: relative;
  color: var(--ui-color-bright);

  .offset:first-child + & {
    margin-top: 0;
  }

  &:is(h1) {
    font-weight: 600;
    font-size: 40px;
    margin-top: 0;

    @media (max-width: 67.5em) {
      font-size: 32px;
    }
  }

  &:is(h2) {
    @media (max-width: 67.5em) {
      font-size: 24px;
    }
  }

  &:is(h3) {
    @media (max-width: 67.5em) {
      font-size: 20px;
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.offset {
  position: relative;
  top: calc(var(--docs-header-height) * -1);
}
