.root {
  position: relative;
  border: 1px dashed;
  color: var(--ui-color-text);
  padding: var(--ui-spacing-md);
  border-radius: var(--dropzone-radius);
  cursor: pointer;
  user-select: none;
  transition:
    background-color 100ms ease,
    border-color 100ms ease;

  &:where([data-loading]),
  &:where(:not([data-activate-on-click])) {
    cursor: default;
  }

  [data-ui-color-scheme='light'] & {
    background-color: var(--ui-color-white);
    border-color: var(--ui-color-gray-4);
  }

  [data-ui-color-scheme='dark'] & {
    background-color: var(--ui-color-dark-6);
    border-color: var(--ui-color-dark-4);
  }

  &:hover {
    &:where([data-activate-on-click]:not([data-loading])) {
      [data-ui-color-scheme='light'] & {
        background-color: var(--ui-color-gray-0);
      }

      [data-ui-color-scheme='dark'] & {
        background-color: var(--ui-color-dark-5);
      }
    }
  }

  &:where([data-accept]) {
    background-color: var(--dropzone-accept-bg);
    border-color: var(--dropzone-accept-bg);
    color: var(--dropzone-accept-color);
  }

  &:where([data-reject]) {
    background-color: var(--dropzone-reject-bg);
    border-color: var(--dropzone-reject-bg);
    color: var(--dropzone-reject-color);
  }
}

.inner {
  pointer-events: none;
  user-select: none;

  &:where([data-enable-pointer-events]) {
    pointer-events: all;
  }
}

.fullScreen {
  position: fixed;
  inset: 0;
  background-color: var(--ui-color-body);
  display: flex;
  flex-direction: column;
  padding: var(--ui-spacing-xs);
  transition: opacity 100ms ease;

  & .dropzone {
    flex: 1;
  }
}
