.root {
    color: var(--ui-color-anchor);
    text-decoration: none;

    &:where([data-underline='always']) {
        text-decoration: underline;
    }

    &:where([data-underline='hover']) {
        &:hover {
            text-decoration: underline;
        }
    }

    &:where([data-underline='not-hover']) {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
