.icon {
  width: 22px;
  height: 22px;
}

.dark {
  [data-ui-color-scheme='dark'] & {
    display: none;
  }

  [data-ui-color-scheme='light'] & {
    display: block;
  }
}

.light {
  [data-ui-color-scheme='light'] & {
    display: none;
  }

  [data-ui-color-scheme='dark'] & {
    display: block;
  }
}
