.externalLinkIcon {
  width: 14px;
  height: 14px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  color: var(--ui-color-dimmed);
}

.iconCell {
  @media (max-width: 31.25em) {
    display: none;
  }
}
