.weekday {
  color: var(--ui-color-dimmed);
  font-weight: var(--ui-font-weight-regular);
  font-size: var(--wr-fz, var(--ui-font-size-sm));
  text-transform: capitalize;
  padding-bottom: calc(var(--wr-spacing, var(--ui-spacing-sm)) / 2);
}
