.content {
  min-height: calc(100vh - 150px);
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  background-color: var(--ui-color-body);
  border-bottom: 1px solid light-dark(var(--ui-color-gray-3), var(--ui-color-dark-4));
  display: flex;
  flex-direction: column;
}
