.headerControl {
  --control-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
  min-width: var(--control-size);
  height: var(--control-size);
  border-radius: var(--schedule-radius, var(--control-radius, var(--ui-radius-default)));
  border: 1px solid var(--ui-color-default-border);
  color: var(--ui-color-default-color);
  background: var(--ui-color-default);
  font-size: var(--ui-font-size-sm);
  font-weight: var(--ui-font-weight-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;

  &:where([data-interactive]) {
    cursor: pointer;

    @mixin hover {
      background-color: var(--ui-color-default-hover);
    }
  }

  &:where(:not([data-square])) {
    padding-inline: 12px;
  }

  &:where([data-active]) {
    background-color: var(--ui-primary-color-filled);
    border-color: var(--ui-primary-color-filled);
    color: var(--ui-primary-color-contrast);

    @mixin hover {
      background-color: var(--ui-primary-color-filled-hover);
      border-color: var(--ui-primary-color-filled-hover);
    }
  }
}
