.row {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: light-dark(var(--ui-color-gray-0), var(--ui-color-dark-6));
  }
}

.checkbox {
  pointer-events: none;
  display: flex;
}

.hiddenMobile {
  @media (max-width: 46.875em) {
    display: none;
  }
}
