
  .scrollbar,
  .scrollbar:hover {
    background-color: light-dark(var(--ui-color-gray-0), var(--ui-color-dark-6));
  }

.scrollbar[data-orientation='vertical'] .thumb {
    background-color: var(--ui-color-red-6);
  }

.scrollbar[data-orientation='horizontal'] .thumb {
    background-color: var(--ui-color-blue-6);
  }

.corner {
  background-color: light-dark(var(--ui-color-gray-0), var(--ui-color-dark-6));
  opacity: 1;
}
