[data-ui-color-scheme='light'] .root {
    --average-bar-color: var(--ui-color-dark-8);
    --you-bar-color: var(--ui-color-blue-3);
  }
  [data-ui-color-scheme='dark'] .root {
    --you-bar-color: var(--ui-color-blue-8);
    --average-bar-color: var(--ui-color-gray-4);
  }

.bar {
  transform: translateX(-1.5px);
}
