.group {
  --group-spacing: 40px;

  & + & {
    margin-top: var(--group-spacing);
    padding-top: var(--group-spacing);
    border-top: 1px solid light-dark(var(--ui-color-gray-3), var(--ui-color-dark-3));
  }
}

.mainTitle,
.title {
  font-weight: 600;
  margin-bottom: var(--ui-spacing-sm);
  color: var(--ui-color-bright);
}

.title {
  margin-top: var(--ui-spacing-md);
}

.panel {
  padding-top: var(--ui-spacing-md);
}

.tab {
  font-weight: 600;

  &[data-active] {
    background-color: light-dark(var(--ui-color-black), var(--ui-color-gray-1));
    color: light-dark(var(--ui-color-white), var(--ui-color-gray-9));
  }
}
