.root {
  background-color: light-dark(var(--ui-color-gray-0), var(--ui-color-dark-8));
  padding-block: var(--hp-block-spacing);
}

.container {
  position: relative;
}

.primaryColumn {
  position: sticky;
  top: 120px;

  @media (max-width: 62em) {
    position: static;
  }
}

.secondaryColumn {
  padding-top: 84px;

  @media (max-width: 62em) {
    padding-top: 30px;
  }
}

.review {
  background-color: var(--ui-color-body);
  padding: var(--ui-spacing-lg);
  border-radius: var(--ui-radius-lg);
  border: 1px solid light-dark(var(--ui-color-gray-2), var(--ui-color-dark-4));

  & + & {
    margin-top: var(--ui-spacing-xl);
  }
}

.reviewTitle {
  display: block;
  font-size: var(--ui-font-size-lg);
  font-weight: 600;
  margin-bottom: var(--ui-spacing-sm);
  color: var(--ui-color-bright);
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--ui-spacing-md);
  color: var(--ui-color-bright);
}

.reviewBody {
  font-size: var(--ui-font-size-md);
  line-height: 1.55;

  & *:last-child {
    margin-bottom: 0;
  }

  & p {
    margin-top: 0;
    margin-bottom: var(--ui-spacing-md);
  }

  & a {
    color: var(--ui-color-anchor);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.reviewExternalLink {
  font-size: var(--ui-font-size-sm);
  color: light-dark(var(--ui-color-gray-7), var(--ui-color-dark-2));
  display: flex;
  align-items: center;
  gap: var(--ui-spacing-xs);
}

.reviewAuthor {
  font-weight: 600;
  color: var(--ui-color-bright);

  &:hover {
    text-decoration: underline;
  }
}

.stats {
  display: flex;
  gap: var(--ui-spacing-xl);
  margin-top: var(--ui-spacing-xl);

  @media (max-width: 62em) {
    flex-direction: column;
  }
}

.stat {
  color: inherit;
  text-decoration: none;

  & + & {
    padding-inline-start: var(--ui-spacing-lg);
    border-inline-start: 1px solid
      light-dark(var(--ui-color-gray-3), var(--ui-color-dark-4));

    @media (max-width: 62em) {
      padding-inline-start: 0;
      border-inline-start: none !important;
      padding-top: var(--ui-spacing-lg);
      border-top: 1px solid light-dark(var(--ui-color-gray-3), var(--ui-color-dark-4));
    }
  }
}

.statValue {
  font-weight: 600;
  font-size: 28px;
  color: var(--ui-color-bright);

  @media (max-width: 62em) {
    font-size: 20px;
  }
}

.statLabel {
  color: light-dark(var(--ui-color-gray-7), var(--ui-color-dark-2));
  font-size: var(--ui-font-size-sm);
}
