.support {
  [data-ui-color-scheme='light'] & {
    color: var(--ui-color-red-8);
  }

  [data-ui-color-scheme='dark'] & {
    color: var(--ui-color-white);
    background-color: var(--ui-color-red-9);
    border-color: var(--ui-color-red-9);

    &:hover {
      background-color: var(--ui-color-red-8);
      border-color: var(--ui-color-red-8);
    }
  }
}
