.codeHideBtn {
  position: sticky;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 var(--ui-radius-default) var(--ui-radius-default);
  border-top: 1px solid var(--ui-color-gray-3);
  color: var(--ui-color-dimmed);
  transition: all 150ms ease-in-out;
  background-color: var(--ui-color-gray-0);
  cursor: pointer;
}

.codeHideBtn:hover {
  color: var(--ui-primary-color-filled);
}

.codeHideBtn span {
  margin-inline-end: var(--ui-spacing-xs);
}

.versionRibbon {
  position: relative;
}

.versionBadge {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  z-index: 2;
  border-radius: 0 var(--ui-radius-default) 0 var(--ui-radius-sm);
  overflow: hidden;
}
