.tooltip {
  min-width: 200px;
  background-color: var(--ui-color-body);
  box-shadow: var(--ui-shadow-md);
  border-radius: var(--ui-radius-default);

  [data-ui-color-scheme='light'] & {
    border: 1px solid var(--ui-color-gray-3);
  }

  [data-ui-color-scheme='dark'] & {
    border: 1px solid var(--ui-color-dark-4);
  }
}

.tooltipLabel {
  padding: var(--ui-spacing-xs) var(--ui-spacing-md);
  font-size: var(--ui-font-size-md);
  font-weight: var(--ui-font-weight-medium);
  color: var(--ui-color-bright);
}

.tooltipBody {
  padding: var(--ui-spacing-sm) var(--ui-spacing-md);
  padding-top: 0;

  .tooltip:where([data-type='radial']) :where(&) {
    padding-top: var(--ui-spacing-sm);
  }
}

.tooltipItemColor {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
}

.tooltipItem {
  font-size: var(--ui-font-size-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:where(& + &) {
    margin-top: calc(var(--ui-spacing-sm) / 2);
  }

  &[data-type='scatter'] .tooltipItemColor {
    display: none;
  }
}

.tooltipItemBody {
  display: flex;
  align-items: center;
  gap: var(--ui-spacing-sm);
  margin-inline-end: var(--ui-spacing-xl);
}

.tooltipItemName {
  color: var(--ui-color-text);
  font-size: var(--ui-font-size-sm);
}

.tooltipItemData {
  color: var(--ui-color-bright);
}
