.indicator {
    --checkbox-size-xs: 16px;
    --checkbox-size-sm: 20px;
    --checkbox-size-md: 24px;
    --checkbox-size-lg: 30px;
    --checkbox-size-xl: 36px;

    --checkbox-size: var(--checkbox-size-sm);
    --checkbox-color: var(--ui-primary-color-filled);

    position: relative;
    border: 1px solid transparent;
    width: var(--checkbox-size);
    min-width: var(--checkbox-size);
    height: var(--checkbox-size);
    min-height: var(--checkbox-size);
    border-radius: var(--checkbox-radius, var(--ui-radius-default));
    transition: border-color 100ms ease, background-color 100ms ease;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator:where([data-variant='filled']) {
    --checkbox-icon-color: var(--ui-color-white);
}

.indicator:where([data-variant='outline']) {
    --checkbox-icon-color: var(--checkbox-color);
}

:where([data-ui-color-scheme='light']) .indicator {
    background-color: var(--ui-color-white);
    border-color: var(--ui-color-gray-4);
}

:where([data-ui-color-scheme='dark']) .indicator {
    background-color: var(--ui-color-dark-6);
    border-color: var(--ui-color-dark-4);
}

.indicator[data-indeterminate],
.indicator[data-checked] {
    background-color: var(--checkbox-color);
    border-color: var(--checkbox-color);
}

.indicator[data-indeterminate] > .icon,
.indicator[data-checked] > .icon {
    opacity: 1;
    transform: none;
    color: var(--checkbox-icon-color);
}

.indicator[data-disabled] {
    cursor: not-allowed;
    border-color: var(--ui-color-disabled-border);
    background-color: var(--ui-color-disabled);
}

:where([data-ui-color-scheme='light']) .indicator[data-disabled][data-checked] > .icon {
    color: var(--ui-color-gray-5);
}

:where([data-ui-color-scheme='dark']) .indicator[data-disabled][data-checked] > .icon {
    color: var(--ui-color-dark-3);
}

.indicator--outline[data-indeterminate]:not([data-disabled]),
.indicator--outline[data-checked]:not([data-disabled]) {
    background-color: transparent;
    border-color: var(--checkbox-color);
}

.indicator--outline[data-indeterminate]:not([data-disabled]) > .icon,
.indicator--outline[data-checked]:not([data-disabled]) > .icon {
    color: var(--checkbox-icon-color);
    opacity: 1;
    transform: none;
}

.icon {
    display: block;
    width: 60%;
    color: transparent;
    pointer-events: none;
    transform: translateY(5px) scale(0.5);
    opacity: 1;
    transition: transform 100ms ease, opacity 100ms ease;
}
