.root {
    --cb-size-xs: 18px;
    --cb-size-sm: 22px;
    --cb-size-md: 28px;
    --cb-size-lg: 34px;
    --cb-size-xl: 44px;

    --cb-size: var(--cb-size-md);
    --cb-icon-size: 70%;
    --cb-radius: var(--ui-radius-default);

    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;

    width: var(--cb-size);
    height: var(--cb-size);
    min-width: var(--cb-size);
    min-height: var(--cb-size);
    border-radius: var(--cb-radius);
    color: var(--ui-color-gray-7);
}

.root:where([data-ui-color-scheme='dark']) {
    color: var(--ui-color-dark-1);
}

.root:where([data-disabled]),
.root:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.root--subtle:where(:not([data-disabled], :disabled)):hover {
    background-color: var(--ui-color-gray-0);
}

.root--subtle:where(:not([data-disabled], :disabled)):where([data-ui-color-scheme='dark']):hover {
    background-color: var(--ui-color-dark-6);
}
