:global(.design-inline-cards) {
  display: flex;
  margin: 0 calc(-1 * var(--ui-spacing-md));
}

:global(.design-inline-cards > *) {
  flex: 10%;
  margin: 0 var(--ui-spacing-md);
}

:global(.design-inline-cards img) {
  width: 100%;
  max-width: 100%;
}

:global(.design-inline-cards h4) {
  margin-bottom: 0;
}
