:global(.nav-phone-icon) {
  position: absolute;
  bottom: 17px;
  inset-inline-end: 30px;
  z-index: 1;
  display: none;
  width: 16px;
  height: 22px;
  cursor: pointer;
}

@media only screen and (max-width: 62em) {
  :global(.code-boxes-col-2-1),
  :global(.code-boxes-col-1-1) {
    float: none;
    width: 100%;
    max-width: unset;
  }
}

@media only screen and (max-width: 767.99px) {
  :global(.preview-image-boxes) {
    float: none;
    width: 100%;
    margin: 0 !important;
  }

  :global(.preview-image-box) {
    width: 100%;
    margin: 10px 0;
    padding: 0;
  }

  :global(.image-wrapper) {
    display: none;
  }

  :global(div.version) {
    display: block;
    margin: 29px auto 16px;
  }

  :global(.toc) {
    display: none;
  }

  :global(.nav-phone-icon) {
    display: block;
  }

  :global(.main) {
    height: calc(100% - 86px);
  }

  :global(.aside-container) {
    float: none;
    width: auto;
    padding-bottom: 30px;
    border-inline-end: 0;
  }

  :global(.ant-row-rtl) {
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-inline-end: var(--ui-spacing-md);
    padding-inline-start: var(--ui-spacing-md);
  }

  :global(.ant-row-rtl > .markdown > *) {
    width: 100% !important;
  }

  :global(.main-wrapper) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  :global(.prev-next-nav) {
    width: calc(100% - 32px);
    margin-inline-start: var(--ui-spacing-md);
  }

  :global(.ant-row-rtl .prev-next-nav) {
    margin-inline-end: var(--ui-spacing-md);
    margin-inline-start: 64px;
  }

  :global(.drawer .ant-menu-inline .ant-menu-item::after),
  :global(.drawer .ant-menu-vertical .ant-menu-item::after) {
    inset-inline-end: auto;
    inset-inline-start: 0;
  }

  /** home 区块 **/
  :global(.home-page-wrapper .page h2) {
    margin: 80px auto 64px;
  }

  :global(.home-page-wrapper .parallax-bg) {
    display: none;
  }

  :global(.banner) {
    display: block;
    height: 632px;
  }

  :global(.banner-bg-wrapper) {
    display: none;
  }

  :global(.banner .img-wrapper),
  :global(.banner .text-wrapper) {
    display: inline-block;
    width: 100%;
    min-width: unset;
    max-width: unset;
    margin: auto;
    text-align: center;
  }

  :global(.banner .img-wrapper) {
    position: initial;
    margin-top: var(--ui-spacing-md);
    text-align: center;
  }

  :global(.banner .img-wrapper svg) {
    width: 100%;
    max-width: 260px;
    height: auto;
    margin: 0 auto;
  }

  :global(.banner .text-wrapper) {
    min-height: 200px;
    margin-top: var(--ui-spacing-xl);
    padding: 0;
  }

  :global(.banner .text-wrapper h1) {
    display: none;
  }

  :global(.banner .text-wrapper p) {
    color: #314659;
    font-size: var(--ui-font-size-sm);
    line-height: 28px;
  }

  :global(.banner .text-wrapper .banner-btns) {
    display: block;
    min-width: 100%;
    white-space: nowrap;
    text-align: center;
  }

  :global(.banner .text-wrapper .banner-btns .banner-btn) {
    padding: 0 var(--ui-spacing-lg);
    font-size: var(--ui-font-size-sm);
  }

  :global(.banner .text-wrapper .banner-promote) {
    min-width: 100%;
    margin-top: var(--ui-spacing-xl);
  }

  :global(.banner .text-wrapper .banner-promote .ant-divider) {
    display: none;
  }

  :global(.banner .text-wrapper .banner-promote a) {
    font-size: var(--ui-font-size-sm);
    white-space: nowrap;
  }

  :global(.banner .text-wrapper .banner-promote a img) {
    width: 20px;
  }

  :global(.page1) {
    min-height: 1300px;
  }

  :global(.page1 .ant-row) {
    margin: 24px auto 64px;
  }

  :global(.page1 .ant-row > div) {
    margin-bottom: 48px;
  }

  :global(.page2) {
    min-height: 840px;
    background: var(--ui-color-default);
  }

  :global(.page2-content) {
    box-shadow: none;
  }

  :global(.page2-components) {
    display: none;
  }

  :global(.page2-product) {
    min-height: auto;
    padding: 0 var(--ui-spacing-md);
  }

  :global(.page2-product .product-block) {
    margin-bottom: 34px;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--ui-color-default-border);
  }

  :global(.page2-product .product-block:last-child) {
    margin-bottom: var(--ui-spacing-xl);
    border-bottom: none;
  }

  :global(.page2-product .product-block:last-child .block-text-wrapper) {
    height: auto;
  }

  :global(.page2-product .product-block .block-image-wrapper) {
    height: 88px;
  }

  :global(.page2-product .product-block .block-image-wrapper img) {
    height: 100%;
  }

  :global(.page2-product .product-block .block-text-wrapper) {
    padding-bottom: 0;
    border-bottom: none;
  }

  :global(.page2-product .product-block .block-text-wrapper h4) {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 24px;
  }

  :global(.page2-product .product-block .block-text-wrapper p) {
    margin-bottom: 8px;
    font-size: var(--ui-font-size-xs);
    line-height: 20px;
  }

  :global(.page2-product .product-block .block-text-wrapper a) {
    line-height: 20px;
  }

  :global(.page2-product .product-block .block-text-wrapper .components-button-wrapper) {
    margin-top: var(--ui-spacing-md);
    font-size: var(--ui-font-size-xs);
  }

  :global(.page2-product .product-block .block-text-wrapper .components-button-wrapper a) {
    display: block;
  }

  :global(.page2-product .product-block .block-text-wrapper a.more-mobile-react),
  :global(.page2-product .product-block .block-text-wrapper a.more-mobile-angular) {
    margin-top: 0;
    color: var(--ui-color-anchor);
  }

  :global(.page2-product .product-block .block-text-wrapper a.more-mobile-react:hover),
  :global(.page2-product .product-block .block-text-wrapper a.more-mobile-angular:hover) {
    color: #40a9ff;
  }

  :global(.page3) {
    min-height: 688px;
  }

  :global(.page3 .ant-row) {
    margin: 0 8px;
  }

  :global(.page3 .page3-block) {
    margin-bottom: var(--ui-spacing-xl);
    padding: 24px;
    background: var(--ui-color-default);
    border-radius: var(--ui-radius-xs);
    box-shadow: 0 8px 16px rgba(174, 185, 193, 0.3);
  }

  :global(.page3 .page3-block:nth-child(2) .page3-img-wrapper img) {
    display: block;
    width: 70%;
    margin: auto;
  }

  :global(.page3 .page3-block p) {
    font-size: var(--ui-font-size-xs);
  }

  :global(.page3 .page3-block .page3-img-wrapper) {
    width: 20%;
  }

  :global(.page3 .page3-block .page3-img-wrapper img) {
    width: 100%;
  }

  :global(.page3 .page3-block .page3-text-wrapper) {
    width: 80%;
    max-width: initial;
    margin: 0;
    padding-inline-start: var(--ui-spacing-md);
  }
}
