.root {
    --paper-radius: var(--ui-radius-default);
    --paper-border-color: var(--ui-color-gray-3);

    outline: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    touch-action: manipulation;
    text-decoration: none;
    border-radius: var(--paper-radius);
    box-shadow: var(--paper-shadow);
    background-color: var(--ui-color-body);
}

.root:where([data-ui-color-scheme='dark']) {
    --paper-border-color: var(--ui-color-dark-4);
}

.root:where([data-with-border]) {
    border: 1px solid var(--paper-border-color);
}
