
  .root[data-variant='danger'] {
    background-color: var(--ui-color-red-9);
    color: var(--ui-color-red-0);
  }
.root[data-variant='primary'] {
    background: linear-gradient(45deg, #4b6cb7 10%, #253b67 90%);
    color: var(--ui-color-white);
    border-width: 0;
  }
