.track {
  transition:
    background-color 200ms ease,
    border-color 200ms ease;
}

input:checked + .track {
  background-color: var(--ui-color-lime-5);
  border-color: var(--ui-color-lime-5);
}

input:checked + .track > .thumb {
  background-color: var(--ui-color-black);
}

input:checked + .track > .thumb::before {
  background-color: var(--ui-color-lime-5);
}
