.image {
  max-width: 100%;
}

.imageWrapper {
  padding: var(--ui-spacing-xl);
  border-radius: var(--ui-radius-md);
  display: flex;
  justify-content: center;
  border: 1px solid light-dark(var(--ui-color-gray-3), var(--ui-color-dark-7));
}
