.selector {
  display: block;
  width: 100%;
  font-size: var(--ui-font-size-sm);
  padding: 6px var(--ui-spacing-sm);
  border-radius: var(--ui-radius-sm);
  cursor: help;

  @mixin hover {
    background-color: light-dark(var(--ui-color-gray-0), var(--ui-color-dark-6));
  }
}
