.logo {
  color: light-dark(var(--ui-color-black), var(--ui-color-white));
}

.mantineUILogo {
  @mixin light {
    --ui-logo-fill: var(--ui-color-cyan-6);
    --ui-logo-color: var(--ui-color-white);
  }

  @mixin dark {
    --ui-logo-fill: var(--ui-color-yellow-4);
    --ui-logo-color: var(--ui-color-dark-8);
  }
}
