.root {
  border: 1px solid var(--demo-border);
  border-radius: var(--ui-radius-md);

  @mixin light {
    --demo-border: var(--ui-color-gray-3);
  }

  @mixin dark {
    --demo-border: var(--ui-color-dark-4);
  }
}
