.root {
  border: 1px solid var(--demo-border);
  border-radius: var(--ui-radius-md);

  [data-ui-color-scheme='light'] & {
    --demo-border: var(--ui-color-gray-3);
  }

  [data-ui-color-scheme='dark'] & {
    --demo-border: var(--ui-color-dark-4);
  }
}
