.root {
  max-width: 620px;
  font-size: var(--ui-font-size-xl);
  line-height: 1.6;
  color: var(--hp-muted, var(--ui-color-gray-7));
  margin-top: var(--ui-spacing-lg);
  text-wrap: balance;

  [data-ui-color-scheme='dark'] & {
    color: var(--ui-color-dark-1);
  }

  @media (max-width: 62em) {
    font-size: var(--ui-font-size-md);
  }
}
