.header {
  height: var(--docs-header-height);
  border-bottom: 1px solid light-dark(var(--ui-color-gray-3), var(--ui-color-dark-5));
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: color-mix(in srgb, var(--ui-color-body) 85%, transparent);
  backdrop-filter: blur(5px);

  &[data-without-nav] {
    height: var(--docs-main-header-section-height);
  }
}

.headerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--docs-main-header-section-height);
}

.headerMainWrapper {
  display: flex;
  gap: var(--ui-spacing-lg);
}

.headerMainSection {
  display: flex;
  align-items: flex-end;
}

.mainLinks {
  display: flex;
  gap: 7px;
  margin-inline-start: 40px;

  @media (max-width: 67.5em) {
    display: none;
  }
}

.mainLink {
  color: light-dark(var(--ui-color-text));
  text-decoration: none;
  display: block;
  line-height: 1;
  padding: 7px 10px;
  font-size: var(--ui-font-size-sm);
  border-radius: var(--ui-radius-md);
  font-weight: 600;
  white-space: nowrap;

  &:hover {
    background-color: light-dark(var(--ui-color-gray-0), var(--ui-color-dark-6));
    color: var(--ui-color-bright);
  }

  &[data-active] {
    color: var(--ui-color-blue-6);
    background-color: light-dark(var(--ui-color-blue-0), var(--ui-color-dark-6));
  }
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--ui-color-bright);
}

.desktopHeaderControls {
  display: flex;
  align-items: center;
  gap: var(--ui-spacing-md);

  @media (max-width: 67.5em) {
    display: none;
  }
}

.burger {
  @media (min-width: 67.5em) {
    display: none;
  }
}

.mobileHeaderControls {
  @media (min-width: 67.5em) {
    display: none;
  }
}

.versionControl {
  display: flex;
  align-items: center;
  height: 34px;
  gap: 7px;
  border-radius: var(--ui-radius-md);
  border: 1px solid light-dark(var(--ui-color-gray-3), var(--ui-color-dark-4));
  background-color: light-dark(var(--ui-color-white), var(--ui-color-dark-6));
  padding-inline-start: 12px;
  padding-inline-end: 7px;
  font-family: var(--ui-font-family-monospace);
  font-size: 13px;
  font-weight: 700;
  color: var(--ui-color-bright);
}

.versionExternalIcon,
.versionChevron {
  color: var(--ui-color-dimmed);
}
